@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';


.pic-columns{
  columns: 3 200px;
  column-gap: 10px;

}
.child{
  width: 100%;
  margin-bottom: 10px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
